body {
    background-color:rgb(27, 22, 22);
    font-family: monospace;
    color:red;
    margin: 0;
}
nav li {
    list-style-type:none;
    margin: 0 2vw;
    font-size: 3vh;
   
}

.red-text{
    color:red;
}

.icon-size {
    height:200px;
    width:200px;
    border-radius:100px;
}
#contact-box {
    margin:0px 200px 10px 200px ;
    border-style: solid;
    border-color:white;
    border-radius: 50%;
}
#form-box {
    margin: 0px 200px 0px 200px;
   
    border-style:solid;
    border-color:white;
}
#curriculum-box {
    display: flex;
    flex-direction:row;
}
a {
    text-decoration: none;
    color:black;
    padding: 2vw;
    font-family: monospace;
    display:block;
}
nav {
    width:100vw;
    background-color: #D6EFFF;
}
nav ul {
    display: block;
    margin:0;
    padding:0;
    display: flex;
}

button {
    display:none;
}
a:hover{
    background-color: #C6E9FF;
}

@media only screen and (max-width: 500px) {
    ul{
        flex-direction:column;
    }

    li{
        margin: 0;
    }

    a{
        display:block;
    }
    button {
        display:block;

        padding: 2vw;
        font-size: 3vh;
        background-color: #AFE0FF;
        border: none;

        outline: none;

        cursor: pointer;

        align-self: flex-start;
    }
}
