body {
    background-color:rgb(27, 22, 22);
    font-family: monospace;
    color:red;
}
h1 {
    /* color:blue; */
}
p {
    /* color:red; */
}
.red-text{
    color:red;
}

.icon-size {
    height:100px;
    width:100px;
    border-radius:100px;
}
#contact-box {
    margin:0px 200px 10px 200px ;
    border-style: solid;
    border-color:white;
    border-radius: 50%;
}
#form-box {
    margin: 0px 200px 0px 200px;
   
    border-style:solid;
    border-color:white;
}
#curriculum-box {
    display: flex;
    flex-direction:row;
}
nav li {
    list-style-type:none;
    margin: 0 2vw;
    font-size: 3vh;
}
nav ul {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color:balck;
    padding: 2vw;
    font-family: monospace;
}
a:hover{
    background-color: #C6E9FF;
}
nav {
    width:100vw;
    background-color: #D6EFFF;
}

